/* Selector universal */
* {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
}


.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  gap: 10px;
  background-image: url('../imgs/fondo.jpg'); /*Imagen de Fondo*/
  background-size: cover;
  background-position: center;
  opacity: 0.9; 
  height: 500px;
}

h1{
  color: orange;
  text-decoration: underline;
}
h3{
  font-size: 20px;
  margin-bottom: 5px;
}

.box_jugador1{
  margin-top: 10px;
  background-color: rgb(253, 181, 47);
  padding: 10px 0px 15px 0px;
  border: 2px solid black;
  border-radius: 5px;
}
.box_jugador2{
  margin-top: 10px;
  background-color: rgb(22, 11, 141);
  color: white;
  padding: 10px 0px 15px 0px;
  border: 2px solid black;
  border-radius: 5px;
}
.box_jugador3{
  margin-top: 10px;
  background-color: rgb(236, 41, 41);
  color: white;
  padding: 10px 0px 15px 0px;
  border: 2px solid black;
  border-radius: 5px;
}
.box_jugador4{
  margin-top: 10px;
  background-color: rgb(238, 240, 216);
  padding: 10px 0px 15px 0px;
  border: 2px solid black;
  border-radius: 5px;

  margin-bottom: 15px;
}

.btn_continuar {
  font-size: 1.5em;
  padding: 5px 10px;
  margin: px;
  cursor: pointer;
  border: none;
  background-color: rgb(119, 6, 6);
  color: white;
  border-radius: 5px;
}
.btn_continuar:hover {
  background-color: rgba(219, 3, 3, 0.781);
}

#botonDetener{
  padding: 12px 20px;
  font-size: 1em;
  background-color: rgb(49, 44, 44);
  color: white;
  border: none;
  border-radius: 19px; /*Borde redondo*/
  cursor: pointer;
  margin-right: 10px; /* Espacio al margen derecho */

  position: fixed;
  right: 20px;
  width: 40px;

  display: flex;
  justify-content: center;
}

#botonReproducir{
  padding: 12px 20px;
  font-size: 1em;
  background-color: rgb(49, 44, 44);
  color: white;
  border: none;
  border-radius: 19px; /*Borde redondo*/
  cursor: pointer;
  margin-right: 10px; /* Espacio al margen derecho */

  position: fixed;
  right: 20px;
  width: 40px;

  display: flex;
  justify-content: center;
  visibility: hidden; /* Inicialmente estará oculto */
}


/*------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Desde Aca comienza la 2da PAGINA cuando están en Partida*/


#divEnPartida{
  display: flex;
  flex-direction: column;
}

.parte_arriba{
  display: flex;
  gap: 10px;
  background-color: transparent;
  padding-bottom: 10px;
}

.parte_abajo {
  display:flex;
  gap: 10px;
  background-color: transparent;
  padding-bottom: 10px;
}

.resumen{
  padding: 10px 40px;
}

.parte_final {
  padding-top: 90px;
  padding-bottom: 30px;
  background-color: transparent;
}

.contador_1 { /* Jugador Naranja */
  margin: px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  border: 2px solid black;
  background-color: rgb(253, 181, 47);
}

.contador_2 { /* Jugador Azul */
  margin: px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  border: 2px solid black;
  background-color: rgb(22, 11, 141);
  color: white;
}

.contador_3 { /* Jugador Rojo */
  margin: px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  border: 2px solid black;
  background-color: rgb(236, 41, 41);
  color: white;
}

.contador_4 { /* Jugador Blanco */
  margin: px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  border: 2px solid black;
  background-color: rgb(238, 240, 216);
}

.contador_5 { /* Fuerza Barbara */
  margin: px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  border: 2px solid black;
  background-color: rgb(70, 68, 68);
  color: white
}

.contador_6 { /* Fuerza Caballeros */
  margin: px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  border: 2px solid black;
  background-color: rgb(255, 255, 255);
}



.nombre {
  font-size: 1.2em;
  font-weight: bold;
  background-color: transparent;
}
.valor {
  font-size: 2em;
  margin: 10px 0;
  background-color: transparent;
}
.btn {
  font-size: 1.5em;
  padding: 5px 10px;
  margin: px;
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
}
.btn:hover {
  background-color: grey;
}

.green-text {
  color: rgb(7, 206, 7);
}
.red-text {
  color: red;
}

.resumen{
  font-size: 1.5em;
  font-weight: bolder;
  background-color: lightgray;
}

/* ------------------------------------------------------------------------------------------------------------------------------*/

/* Media Queries para Celulares (768px o mas) */
@media only screen and (max-width: 768px){

}