/* Selector universal */
* {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: black;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  gap: 10px;
  background-image: url('../imgs/fondo.jpg'); /*Imagen de Fondo*/
  background-size: cover;
  background-position: center;
  opacity: 0.9; 
  height: 750px;
}
h1{
  color: orange;
  text-decoration: underline;
  padding-bottom: 10px;
  padding-bottom: 10px;
}
h2{
  padding-bottom: 10px;
}
h3{
  font-size: 20px;
  margin-bottom: 5px;
}

/*----------------------------------------------------------------------------------*/
/*Pagina 1*/

.pagina_1{
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.seleccion_de_juego_mesa{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  padding-top: 0px;
}

.mini_container_2{
  padding-top: 20px;
}

.juegos_parte{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding-top: 0px;
  padding-top: 0px;
}

.mesa{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 10px;
}

.hipervinculo:hover{
  transform: scale(1.05);
  transition: 0.3s;
}


.der_pag1{
  background-color: transparent;
  padding-top: 10px;
  width: 500px;
  display: flex;
  justify-content: end;
  
  align-self: center;

}

/*----------------------------------------------------------------------------------*/
/*Pagina 2 (Seleccionar Color)*/

#pagina_2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contenedor_colores{
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.button {
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
}
.button.active {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 
                0 0 20px rgba(255, 255, 255, 0.6), 
                0 0 30px rgba(255, 255, 255, 0.4);
  /*border: 3px solid lightyellow;*/  
  filter: brightness(1.5);
}

.para_continuar{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  justify-content: center;
}

.med_pag2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.der_pag2{
  background-color: transparent;
}

.boton_cartaRecurso{
  display: inline-block;
  cursor: pointer;
  width: 100px; 
  overflow: hidden; /* Para asegurarte de que la imagen no se salga del div */
  position: relative;
}
.boton_cartaRecurso img{
  width: 100%;
  height: 100%;
  object-fit: cover; /* Para que la imagen ocupe todo el contenedor */
  display: block; /* Para eliminar cualquier espacio debajo de la imagen */
}

.btn_continuar{
  font-size: 1.5em;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  background-color: rgb(119, 6, 6);
  color: white;
  border-radius: 5px;
}
.btn_continuar:hover{
  background-color: rgba(219, 3, 3, 0.781);
}



/*----------------------------------------------------------------------------------*/
/*Pagina 3*/


#pagina_3_{
  display: block;
}

.botones_juntos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#botonDetener{
  padding: 12px 20px;
  font-size: 1em;
  background-color: rgb(49, 44, 44);
  color: white;
  border: none;
  border-radius: 19px; /*Borde redondo*/
  cursor: pointer;
  margin-right: 10px; /* Espacio al margen derecho */

  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;

  display: flex;
  justify-content: center;
  /*visibility: hidden; /*Inicialmente estará oculto */
}

#botonReproducir{
  padding: 12px 20px;
  font-size: 1em;
  background-color: rgb(49, 44, 44);
  color: white;
  border: none;
  border-radius: 19px; /*Borde redondo*/
  cursor: pointer;
  margin-right: 10px; /* Espacio al margen derecho */

  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;

  display: flex;
  justify-content: center;
  /*visibility: hidden; /*Inicialmente estará oculto */
}


#box_jugador1{
  margin-top: 10px;
  background-color: rgb(253, 181, 47);
  padding: 10px 0px 15px 0px;
  border: 2px solid black;
  border-radius: 5px;
  display: block;
}
#box_jugador2{
  margin-top: 10px;
  background-color: rgb(22, 11, 141);
  color: white;
  padding: 10px 0px 15px 0px;
  border: 2px solid black;
  border-radius: 5px;
}
#box_jugador3{
  margin-top: 10px;
  background-color: rgb(236, 41, 41);
  color: white;
  padding: 10px 0px 15px 0px;
  border: 2px solid black;
  border-radius: 5px;
}
#box_jugador4{
  margin-top: 10px;
  background-color: rgb(238, 240, 216);
  padding: 10px 0px 15px 0px;
  border: 2px solid black;
  border-radius: 5px;
}
#box_jugador5{
  margin-top: 10px;
  background-color: rgb(61, 110, 72);
  color: white;
  padding: 10px 0px 15px 0px;
  border: 2px solid black;
  border-radius: 5px;
}
#box_jugador6{
  margin-top: 10px;
  background-color: rgb(92, 55, 55);
  color: white;
  padding: 10px 0px 15px 0px;
  border: 2px solid black;
  border-radius: 5px;
}

.btn_continuar{
  font-size: 1.5em;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  background-color: rgb(119, 6, 6);
  color: white;
  border-radius: 5px;
}
.btn_continuar:hover{
  background-color: rgba(219, 3, 3, 0.781);
}


/*------------------------------------------------------------------------------------------------------------------------------------------------*/
/*PAGINA 4 (Placa_Contadores)*/


#pagina_4{
  display: flex;
  flex-direction: column;
  display: none;
}

.parte_arriba{
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: transparent;
  padding-bottom: 10px;
}

.parte_arriba_2{
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: transparent;
  padding-bottom: 10px;
}

.parte_abajo {
  display:flex;
  justify-content: center;
  gap: 10px;
  background-color: transparent;
  padding-bottom: 10px;
}

.resumen{
  padding: 10px 40px;
}

.parte_final {
  padding-top: 90px;
  padding-bottom: 30px;
  background-color: transparent;
}

#contador_1 { /* Jugador Naranja */
  margin: px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  text-align: center;
  border: 2px solid black;
  background-color: rgb(253, 181, 47);
}

#contador_2 { /* Jugador Azul */
  margin: px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  text-align: center;
  border: 2px solid black;
  background-color: rgb(22, 11, 141);
  color: white;
}

#contador_3 { /* Jugador Rojo */
  margin: px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  text-align: center;
  border: 2px solid black;
  background-color: rgb(236, 41, 41);
  color: white;
}

#contador_4 { /* Jugador Blanco */
  margin: px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  text-align: center;
  border: 2px solid black;
  background-color: rgb(238, 240, 216);
}

#contador_7 { /* Jugador Verde */
  margin: px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  border: 2px solid black;
  background-color: rgb(61, 110, 72);
  color: white;
}

#contador_8 { /* Jugador Marrón */
  margin: px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  border: 2px solid black;
  background-color: rgb(92, 55, 55);
  color: white;
}

.contador_5 { /* Fuerza Barbara */
  margin: px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  border: 2px solid black;
  background-color: rgb(70, 68, 68);
  color: white
}

.contador_6 { /* Fuerza Caballeros */
  margin: px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  border: 2px solid black;
  background-color: rgb(255, 255, 255);
}



.nombre {
  font-size: 1.2em;
  font-weight: bold;
  background-color: transparent;
}
.valor {
  font-size: 2em;
  margin: 10px 0;
  background-color: transparent;
}

.resumen{
  font-size: 1.5em;
  font-weight: bolder;
  background-color: lightgray;
}

.btn { /*Todos los Botones de la Pagina Contador de Puntos*/
  font-size: 1.2em;
  width: 40px;
  height: 40px;
  overflow: hidden;
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.btn:hover {
  background-color: grey;
}

.green-text {
  color: rgb(7, 206, 7);
}
.red-text {
  color: red;
}


